#lista-canciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: inline-block;
  vertical-align: top;
  background-color: white;
  text-align: center;
}

/* h2 {
  text-align: center;
} */

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  max-width: 100%;
  height: 250px;
  /* Para cetrar la imagen */
  display: block;
  margin: 0 auto;
}
